extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/product-layout.pug

block main
  .section-products-featured.my-5
    .container.my-3
      .row
        .col-12
          +box-head("Sản Phẩm Nổi Bật")
      +product-grid(productsFeatured)

  .section-products-featured.my-5
    .container.my-3
      .row
        .col-12
          +box-head("Sản Phẩm Mới Nhất")
      +product-grid(productsNew)