.sider
  .inner-menu
    ul
      li
        a(href=`${prefixAdmin}/dashboard`) Tổng Quan
      li
        a(href=`${prefixAdmin}/products-category`) Danh Mục Sản Phẩm
      li
        a(href=`${prefixAdmin}/products`) Danh Sách Sản Phẩm